<div id="menu" class="hidden-print ui-resizable">
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 2432px;">
    <div class="slim-scroll" data-scroll-height="800px" style="overflow: hidden; width: auto; height: 2432px;">
      <ul>
      <% side_menu.each do |value| %>
        <li class="large glyphicons <%= value[:icon] %> <%= 'active' if params[:controller] ==  value[:controller] %>"><%= link_to "#{ value[:title] }".html_safe, send(value[:url]) %>
            <%= "<div class='count'>#{ current_user.customers.count }</div>".html_safe if value[:controller] == 'customers' %>
        </li>
      <% end %>
        <li class="hasSubmenu large glyphicons t-shirt <%= 'active' if params[:controller] == 'categories' || 'products' %>">
          <a data-toggle="collapse" href="#menu_extra" class="collapsed">Product</a>
          <ul class="collapse" id="menu_extra" style="height: 0px;">
            <li><%= link_to 'Stuff'.html_safe, products_path %></li>
            <li><%= link_to 'Kategori'.html_safe, categories_path %></li>
          </ul>
          <div class="count"><%= Product.count %></div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <div class="separator bottom"></div>

      <div class="widget-sidebar-stats">
        <strong>3,540</strong>
        Messages
        <div class="pull-right sparkline"><canvas width="49" height="20" style="display: inline-block; width: 49px; height: 20px; vertical-align: top;"></canvas></div>
        <div class="clearfix"></div>
      </div>

      <div class="widget-sidebar-stats">
        <strong>2,510,402</strong>
        Photos
        <div class="pull-right sparkline"><canvas width="49" height="20" style="display: inline-block; width: 49px; height: 20px; vertical-align: top;"></canvas></div>
        <div class="clearfix"></div>
      </div>
      <div class="separator bottom"></div>

    </div>
    <div class="slimScrollBar ui-draggable" style="background-color: transparent; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 2432px; background-position: initial initial; background-repeat: initial initial;">

    </div>
    <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;">

    </div>
  </div>

  <div class="ui-resizable-handle ui-resizable-e" style="z-index: 1000;"></div>
  <div class="ui-resizable-handle ui-resizable-w" style="z-index: 1000;"></div>
</div>
