<div id="login">

  <div class="form-signin">
    <h3>Sign in to Your Account</h3>

    <div class="row-fluid row-merge">

      <div class="span7">
        <div class="inner">

          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <%= f.label :email, class: 'strong' %>
              <%= f.email_field :email, :autofocus => true, class: 'input-block-level', placeholder: 'Your Email address' %>
              <%= f.label :password, class: 'strong' %>
              <%= f.password_field :password, autofocus: true, class: 'input-block-level', placeholder: 'Your Password' %>
              <div class="row-fluid">
                <div class="span5 center">
                  <%= f.submit "Sign in", class: 'btn btn-block btn-primary' %>
                </div>
                <div class="span2 center">or</div>
                <div class="span5 center">
                  <%= link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-block btn-info' %><br />
                </div>
              </div>
            <% end %>

        </div>
      </div>

      <div class="span5">
        <div class="inner center">
          <p>Alternatively</p>
          <%= link_to "<i></i>Join using your<div class='strong'>Twitter Account</div>".html_safe, user_omniauth_authorize_path(:twitter), class: 'btn btn-icon-stacked btn-block btn-twitter glyphicons twitter' %>
          <p>or</p>
          <%= link_to "<i></i>Join using your<div class='strong'>Facebook Account</div>".html_safe, user_omniauth_authorize_path(:facebook), class: 'btn btn-icon-stacked btn-block btn-facebook glyphicons facebook' %>
        </div>
      </div>

    </div>

    <div class="ribbon-wrapper"><div class="ribbon primary">members</div></div>
  </div>

</div>
