<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/navbar_main" %>

  <div id="wrapper">
    <%= render "shared/sidebar_menu" %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  <%= render "shared/footer" %>
</body>
</html>
